.usersListContainer {
  cursor: pointer;
  background-color: rgb(216, 216, 216);
}
.usersIcon {
  width: 80px;
  height: 80px;
}
.listOfUserName {
  font-size: 24px;
  font-weight: 500;
}
.avatar {
  margin-left: 5px;
  border-radius: 50%;
}
.usersListContainer :hover {
  background-color: rgb(169, 169, 169);
  transition: all 0.3s;
  position: relative;
}
