.userName {
  font-size: 18px;
  font-weight: 500;
}
.usersDetailsIcon {
  width: 200px;
  height: 200px;
  margin: 0 auto;
}
.detailsAvatar {
  margin-left: 24px;
  width: 100%;
  border-radius: 50%;
}
.userBio {
  background-color: rgb(216, 216, 216) s;
}
