.App {
  margin-top: 10px;
}
.cardHeader {
  font-size: 24px;
  font-weight: 500;
  background-color: #c5dfff;
  padding: 20px 0;
}
.user1 {
  background-color: #1b98f5;
}
.user2 {
  background-color: #ff6263;
}
.user3 {
  background-color: #af9d5a;
}
.user4 {
  background-color: #1faa59;
}
.user5 {
  background-color: #6ec72d;
}
.user6 {
  background-color: #edc126;
}
.user7 {
  background-color: #8d3daf;
}
.user8 {
  background-color: #242b2e;
}
.user9 {
  background-color: #1c8d73;
}
.user10 {
  background-color: #92b6b1;
}
